@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(36, 42, 46);
    color: white;
    /* height: 80px; */
    text-align: center;
    padding: 20px 0;
}

.storeSelector {
    background-color: rgb(36, 42, 46);
    text-align: center;
    padding: 0;
   
}

#storeSelector {
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    border-radius: 10px;
    background-color: rgb(105, 113, 112);
    color: white;
    width: 300px;
    margin-left: 50px;
}

body {
    background-color: rgb(36, 42, 46);
    font-family: 'Hepta Slab', serif;
}

#listBody {
    position: relative;
}

.product {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.product div {
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(105, 113, 112);
    color: white;
    width: 300px;
    height: 5px;
    margin-right: 10px;
}

.btn.btn-remove {
    background-color: rgb(237, 70 , 71);
    margin-right: 10px;
    margin-left: 10px;
    width: 5px;
    text-align: center;
    border-radius: 10px;
}

.product-name {
    width: 500px;
    
}

footer {
    background-color: rgb(36, 42, 46);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    
}

#productName {
    font-size: 30px;
    width: 250px;
}

#addProductButton {
    /* font-size: 30px; */
    width: 80px;
    padding: 5px;
    font-family: 'Hepta Slab', serif;
}